<%- include("../include/css") %>
<body>
	<form action="/user/saveUser" method="post">
		<h1>个人信息</h1> 
		
		用户名：<input type="text" name="username"  value="谭超超"/><br />
		昵称：  <input type="text" name="nikeName" value="花猪"/><br /> 
		年龄：<input type="text" name="age" value="24" /><br />
		密码:<input type="password" name="password" value="123456"/><br />
		<input type="submit" />
	</form>
</body>
<%- include("../include/js") %>